body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f1;
  font-family: 'Akrobat', sans-serif;
}

h1, h2, h3, p, select, textarea, input {
  font-family: 'Akrobat', sans-serif;
  text-overflow: ellipsis;
  white-space: wrap;
  font-weight: normal;
}

button, input, textarea, select {
  margin: auto;
  border: 0;
  outline: 0;
  background: none;
  text-decoration: none;
}

button {
    cursor: pointer;
}

select {
  text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  display: block;
  margin: 0 auto;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a:link, a:visited, a:hover, a:active, a {
    color: inherit;
    text-decoration: none;
}


h1 {
  font-family: 'Akrobat SemiBold', sans-serif;
  font-size: 1.6em;
  font-weight: 500;
}

.Item * {
  position: relative;
  padding-top: 5px;
}

.Item {
  margin: auto;
  background-color: #FFF;
  margin: 25px;
  border-radius: 30px;
  padding: 0 20px 0 20px;
  height: 130pt;
}

.Item h1, .Item h2, .item h3 {
  padding: 5px 0px 10px 0px;
  font-weight: normal;
}

.Item h1 {
  white-space: nowrap;
  float: left;
  bottom: 10px;
  overflow: hidden;
  width: calc(90% - 60pt);
}

.Item h2 {
  font-size: 1.6em;
  text-align: right;
  top: 5px;
}

.progress-bar {
  height: 20px;
  width: 95%;
  border-radius: 50px;
  background-color: #f0f2f3;
  bottom: 10pt;
  padding: 0;
}

.filler {
  background: #2ecc72;
  height: 100%;
  border-radius: inherit;
  padding: 0;
}

.Item h3 {
  position: relative;
  font-family: 'Akrobat Regular', 'Akrobat', sans-serif;
  font-weight: normal;
  font-size: 1.3em;
  bottom: 25pt;
  padding-bottom: 10px;
}

.Item button, .Complete, .NotComplete {
  display: block;
  margin: auto;
  color: white;
  width: 8em;
  border-radius: 50px;
  font-size: 1.6em;
  padding: 5px;
  bottom: 43pt;
}

.NotComplete {
  background-color: #8646a7;
  opacity: 1;
}

.Complete {
  background-color: #949494;
  opacity: 0.5;
}

#Complete:last-of-type::before {
  content: '';
  width: 20%;
  height: 1px;
  display: block;
  margin: auto;
  border: 0;
  background-color: #484c4f;
}

#Todo:empty:after, #Complete:empty:after {
  display:block;
  padding: 15px;
  font-size: 1.3em;
  text-align: center;
  color: #484c4f;
}

#Todo:empty:after {
  content: 'There is no more streaks to complete...';
}

#Complete:empty:after {
  content: 'You have completed no streaks today...';
}

.add {
  position: fixed;
  right: 15px;
  bottom: 25px;
  width: 60px;
  height: 60px;
  background-color: #FFF;
  border-radius: 50%;
}

.add {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.add:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.add svg {
  position: fixed;
  right: 20px;
  bottom: 30px;
}

.new * {
  position: absolute;
}

.new #title, #description {
  display: block;
  margin: auto;
  margin-top: 10px;

  width: 80%;
  padding: 5px, 5px, 5px, 10px;
}

.new #title {
  font-size: 2em;
  top: 50px;
  left: 10%;
}

.new #description {
  position: relative;
  top: 130px;
  resize: vertical;
  white-space: normal;
  height: 100px;
  overflow-x: hidden;
}

.new #done {
  background-color: #0066ff;
  font-size: 1.3em;
  color: #FFF;
  text-align: center;
  padding: 6px 15px 6px 15px;
  border-radius: 5px;
  right: 20px;
  top: 10px;
}

.new #done:hover {
  color: #0066ff;
  background-color: #f0f0f0;
}

.new #delete {
  top: 10px;
  right: 150px;
}

#delete, #close, #done {
  transition: 0.2s;
}

#delete svg:hover, #close svg:hover {
  fill: #cc0000;
}

.new #close {
  top: 10px;
  left: 10px;
}

.new input, textarea {
  font-family: 'Akrobat', sans-serif;
  font-size: 1em;
}

.below {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 190px;
}

.below * {
  position: relative;
}

.below #repeat, #goal {
  float: right;
  display: inline;
  background-color: #f5f5f5;
  width: 70pt;
  height: 20pt;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}

.below h2 {
  margin-bottom: 50pt;
}

.content {
  position: relative;
}

.below h2::before, .below h2:last-of-type::after, .content::before  {
  position: relative;
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  margin: auto;
  border: 0;
  background-color: #c8c8c8;
}

.content::before {
  top: 120px;
  width: 80%;
}

.below h2:first-of-type::before {
  bottom: 30px;
}

.below h2:last-of-type::before {
  bottom: 30px;
}

.below h2:last-of-type::after {
  top: 30px;
}

.image {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.background {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  transform: scale(1.20);
}

.streak {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.streak h1 {
  position: relative;
  padding: 7px 10px 10px 15px;
  font-size: 1.6em;
  color: #FFF;
  width: 30px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 0 10px 10px 0;
  font-weight: 400;
}

.streak a {
  padding: 5px 5px 3px 5px;
  width: 50px;
  background-color: rgba(0,0,0,0.3);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 0;
}

.error * {
  text-align: center;
  position: relative;
}

.error h1 {
  top: 30pt;
  font-size: 4em;
}

.error h2 {
  top: 10pt;
  font-size: 1.6em;
}

.error a {
  color: blue;
}

.loading {
  text-align: center;
  font-size: 30pt;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  text-align:center;
  backdrop-filter: blur(2px);
}

.expansion {
  position: relative;
  min-width: 50%;
  max-width: 90%;
  height: auto;
  text-align: center;
  display: inline-block;
  background-color: #FFF;
  padding: 5px;
  border-radius: 30px;
  filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.3));
  z-index: 6;
  top: 25%;
}

.expansion h1 {
  font-size: 2em;
  padding: 5px;
}

.expansion p {
  position: relative;
  bottom: 5px;
  font-size: 1.2em;
}

.expansion .skip {
  cursor: pointer;
  text-align: left;
  padding: 5px;
  position: relative;
  left: 20px;
  font-size: 1em;
  bottom: 5px;
  color: #949494;
}
