body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f1;
  font-family: 'Akrobat', sans-serif;
}

.Item {
  margin: auto;
  position: relative;
  background-color: #FFF;
  margin: 25px;
  border-radius: 30px;
  padding: 0 20px 0 20px;
  height: 125pt;
  text-align: center;
}

.Item h1 {
  font-family: 'Akrobat SemiBold', sans-serif;
  font-size: 20pt;
  text-align: left;
  float: left;
  padding: 5px 0 5px 0;
  position: relative;
  bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  width: calc(90% - 60pt);
  height: 20pt;
}

.Item h2 {
  font-family: 'Akrobat SemiBold', sans-serif;
  font-size: 20pt;
  text-align: right;
  padding: 5px 0 5px 0;
  position: relative;
  top: 5px;
}

.progress-bar {
  display: block;
  position: relative;
  height: 20px;
  width: 70%;
  border-radius: 50px;
  background-color: #f0f2f3;
  bottom: 10pt;
}

.filler {
  background: #2ecc72;
  height: 100%;
  border-radius: inherit;
}

.Item h3 {
  float: none;
  position: relative;
  font-family: 'Akrobat Regular', 'Akrobat', sans-serif;
  font-weight: normal;
  font-size: 16pt;
  text-align: left;
  bottom: 25pt;
  padding: 5px 0 5px 0;
}

.Item button {
  float: none;
  text-align: center;
  color: white;
  width: 150pt;
  border-radius: 50px;
  font-size: 18pt;
  padding: 5px;
  position: relative;
  bottom: 40pt;
  display: block;
  margin: auto;
  border: 0;
  outline: 0;
}

.NotComplete {
  background-color: #8646a7;
  opacity: 1;
}

.Complete {
  background-color: #949494;
  opacity: 0.5;
}

.add {
  border: 0;
  outline: 0;
  position: fixed;
  right: 15px;
  bottom: 25px;
  width: 60px;
  height: 60px;
  background-color: #FFF;
  border-radius: 50%;
}

.add {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.add:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.add svg {
  position: fixed;
  right: 20px;
  bottom: 30px;
}
